/* Hide the Home Menu */
/* .o_navbar_apps_menu {
    display: none !important;
} */

/* Disable the dropdown but keep the icon visible */
.o_navbar_apps_menu {
    pointer-events: none;  /* This makes the entire dropdown non-interactive */
    opacity: 0.5;          /* Optional: Reduce opacity to indicate the dropdown is disabled */
}

/* Optionally, change the cursor to indicate that the menu is disabled */
.o_navbar_apps_menu i {
    cursor: not-allowed;  /* Indicates the dropdown is disabled */
}

/* Hide the mail redirect and channel redirect buttons */
a.o_mail_redirect,
a.o_channel_redirect {
    display: none !important;
}

/* Hide the mail discuss systray class */
.o-mail-DiscussSystray-class {
    display: none !important;
}

/* Hide the o-mail-Chatter-topbar */
.o-mail-Chatter-topbar {
    display: none !important;
}

/* Hide the o_cp_action_menus */
.o_cp_action_menus {
    display: none !important;
}
