[Unit]
Description=My Python Script
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/remlab/ps-bpt/FlaskMongDB
Environment="PATH=/home/remlab/ps-bpt/venv/bin"
ExecStart=/bin/bash -c 'source /home/remlab/ps-bpt/venv/bin/activate && python3 /home/remlab/ps-bpt/FlaskMongDB/app.py'

[Install]
WantedBy=multi-user.target


# create  a file in /etc/systemd/system

# to enable a service -  sudo systemctl enable myscript.service

# Stop, Restart, or Disable as Needed:

sudo systemctl stop file.service
sudo systemctl restart file.service
sudo systemctl disable file.service
