<!DOCTYPE html>
<html lang="" class="no-js">
    <head>
        <title>Test</title>
        {% extends "layout.html" %}
        {% block title %} Data {% endblock %}
        {% block head %}
        {{ super() }}
        <style type="text/css">
          .important { color: #336699; }
        </style>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <table id="data-table" class="display">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                $("#data-table").DataTable();
            });
        </script>
        {% endblock %}
    </body>
</html>