<!DOCTYPE html>
<html lang="" class="no-js">
<head>
    {% extends "layout.html" %}
    {% block nav_user %}headerHighlight{% endblock %}
    <title>{% block title %} Users {% endblock %}</title>
    {% block head %}
    {{ super() }}
    <style>
        #userTable {
            border-collapse: collapse; /* Collapse borders */
            width: 100%; /* Full-width */
            font-size: 18px; /* Increase font-size */
        }
        #userTable th, #userTable td {
            text-align: left; /* Left-align text */
            padding: 5px; /* Add padding */
            font-size: 14px;
            color: black;
        }
        #userTable th{
          text-align: center;
        }
        #userTable tr {
        /* Add a bottom border to all table rows */
         border-bottom: 1px solid #ddd;
        }
        #userTable tr.header, #userTable tr:hover {
            /* Add a grey background color to the table header and on hover */
            background-color: #818aa2;
            color: white;
        }

        .toggle-password {                
            margin-right: 15%;               
        }

        #txtUsername, #txtpwd {
            width: 30%;margin-left: 25px;
        }

        #ddlGroup {
            width: 30%;margin-left: 10px;
        }

        #btnAdd {
            margin-left: 44%;
        }

        .divUserTable {
            padding-left: 25px; margin-right:10px;
        }

        .pwdpanel {
            margin-left: 50%; margin-top:-6%;
        }
        #userTable_filter {
             margin-right: 10px;
        }
        #userTable_filter label {
            display: flex;                              
        }
        #userTable_length label {
            display: flex;               
            gap: 5px;
        }       
   </style>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="row">
        <div class="container">
            {% if error %}
            <p class="error"><strong id="sWarning">{{ error }}</strong></p>
            {% elif warning %}
	        <div class="alert">
	  			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	  			<strong>Warning!&nbsp;&nbsp;&nbsp;</strong> User Name already exists.
			</div>
            {% else %}
            <p class="error" id="sMsg"></p>
            {% endif %}

            {% if user_access != None and user_access != Empty %}
            {% if (user_access['user'][1]) %}
            <form id="frmAdd" action="{{ url_for('create_user') }}" method="post" autocomplete="off">
                <div class="row">
                    <input type="hidden" id="hdnUserID" name="hdnUserID" value="">
                    <div class="col-md-12 colpanel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="heading">Add/Edit Users</span>
                            </div>
                            <div class="panel-body grey-color">
                                <div class="row userpanel">
                                    <label><b>UserName</b></label>
                                    <input type="text" id="txtUsername" tabindex="1" name="username" maxlength="50" required>

                                    <label id="lblpwd"><b>Password</b></label>
                                    <input type="password" id="txtpwd" autocomplete="new-password" class="myDIV"  tabindex="2" maxlength="20" name="password"  required>
                                    <span id="spnpwd" toggle="#txtpwd" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <br>
                                    <br>

                                    <label><b>Group Name</b></label>
                                    <select id="ddlGroup" tabindex="3"  name="group" required>
                                        <option value="">Select Group</option>
                                        {% for value in groups %}
                                        <option value="{{value.name}}">{{value.name}}</option>
                                        {% endfor %}
                                    </select>

                                    <label><b style="display: none;">Admin user?</b></label>
                                    <input type="checkbox" name="is_admin" value="True" style="display: none;">
                                    <br>

                                    <div id="password_rules" class="row hideIns pwdpanel" style="display:none;">
                                        <h4>Passwords must meet these requirements:</h4>
                                        <ul>
                                            <li class="password_length">At least 8 characters</li>
                                            <li class="password_uppercase">At least 1 uppercase letter</li>
                                            <li class="password_number">At least one number</li>
                                            <li class="password_match">New Password and Confirmation must match</li>
                                        </ul>
                                    </div>

                                    <button id="btnAdd" type="submit" tabindex="4" class="btn btn-primary login-button">Submit</button>
                                    <button type="button" class="btn btn-primary login-button" onclick="resetFields();">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="heading">Existing Users</span>
                </div>
                <div class="panel-body grey-color">
                    <div class="row divUserTable">
                        <form id="frmTable" action="{{ url_for('update_user') }}" method="post">
						<table id="userTable">
                            <thead>
                             	  <tr>
                                        {% if user_access != None and user_access != Empty %}
                                        {% if (user_access['user'][2]) %}
                             			<th scope="col" class="headerCol">Select</th>
                                        {% endif %}
                                        {% endif %}

	                                    <th scope="col">UserName</th>
	                                    <th scope="col">Group</th>
	                                    <th scope="col">Password</th>

                                        {% if user_access != None and user_access != Empty %}
                                        {% if (user_access['user'][1]) %}
                                        <th scope="col">Edit</th>
                                        {% endif %}
                                        {% endif %}
								  </tr>
                                </thead>
                                <tbody>
 								{% for value in users %}
                                {% if value != None and value != Empty %}
                                <tr>
                                	{% for k,v in value.items() %}
                                	{% if k == 'username' %}

                                    {% if user_access != None and user_access != Empty %}
                                    {% if (user_access['user'][2]) %}
                                        {% if (user != value.username) %}
                                		<td class="centerCol"><input type="checkbox" name="chk" value="{{v}}"></td>
                                        {% else %}
                                        <td class="centerCol"><input type="checkbox" name="chkuser" value="{{v}}" disabled></td>
                                        {% endif %}
                                    {% endif %}
                                    {% endif %}

                                        <td class="tdUsername">{{value.username}}</td>
                                        <td class="tdGroup">{{value.group[0].name}}</td>
                                        {% if (user == value.username) %}
                                        <td>{{value.password}}</td>
                                        {% else %}
                                        <td>xxxxx</td>
                                        {% endif %}
                                        {% if user_access != None and user_access != Empty %}
                                        {% if (user_access['user'][1]) %}
                                        <td class="centerCol"><button type="button" class="edit btn btn-primary login-button" dataid="{{value._id}}" datagroup="{{value.group[0].name}}" datausername="{{value.username}}"><i class="fa fa-wrench"> Edit</i></button></td>
                                        {% endif %}
                                        {% endif %}
                                	{% endif %}
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
						</table>
						<br>
                        {% if user_access != None and user_access != Empty %}
                        {% if (user_access['user'][2]) %}
						<button type="submit" class="btn btn-primary login-button">Delete</button>
                        {% endif %}
                        {% endif %}
						</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        function resetFields(){
            $('#btnAdd').html('Submit');
            $('#txtUsername').val('');
            $('#ddlGroup').val('');
            $('#hdnUserID').val('');
            $('#lblpwd').css('display','');
            $('#txtpwd').css('display','');
            $('#spnpwd').css('display','');
            $('#txtpwd').prop('required',true);

            $('#sMsg').css('display','none');
            $('.hideIns').css('color','');
            $('.hideIns').css('display','none');
        }

         $(document).ready(function() {

            resetFields();

            //alert('hi');
            var mytable = $("#userTable").DataTable({
            "pageLength": 5,
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]           
            });     
    
            
            $('#frmTable tbody').off('click').on('click', 'button.edit', function () { // edit token
            var td =  mytable.cell($(this).parents('td')).node();
            //alert($( td ).find( 'button' ).attr('dataid'));
            $('#txtUsername').val($( td ).find( 'button' ).attr('datausername'));
            $('#ddlGroup').val($( td ).find( 'button' ).attr('datagroup'));
            $('#hdnUserID').val($( td ).find( 'button' ).attr('dataid'));
            $('#lblpwd').css('display','none');
            $('#txtpwd').css('display','none');
            $('#spnpwd').css('display','none');
            $('#txtpwd').prop('required',false);
            $('#txtUsername').focus();
            $('#btnAdd').html('Update');
            });
            
        });

        $('#txtpwd').on("cut copy paste",function(e) {
                e.preventDefault();
            });
        $("#txtpwd").focus(function() {
            $('.hideIns').css('display','block');
        });
        $("#txtpwd").blur(function() {
            $('.hideIns').css('display','none');
        });

        function validatePassword(password) {
            // Regular expression to match a strong password
            var regex = /^(?=.*\d)(?=.*[0-9])(?=.*[A-Z]).{8,}$/;
            return regex.test(password);
        }

        $('#frmAdd').submit(function () {       
           // debugger;     
            var newpwd = $.trim($('#txtpwd').val());
            var userID = $('#hdnUserID').val();
            //alert(userID);
            if(userID == "") {
                if (!validatePassword(newpwd)) {
                $('#txtpwd').focus();
                $('.hideIns').css('color','red');
                return false;
            }    
          }
        });

        $('#frmTable').submit(function () {
           var array = []
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
            if(checkboxes.length == 0){
            //alert("Please at least one option to delete!");
            $('#sMsg').css('display','block');
            $('#sMsg').html('<strong>Please at least one option to delete!</strong>');
            window.scrollTo(0, 0);
            return false;
            }
        });


        $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
        input.attr("type", "text");
        } else {
        input.attr("type", "password");
        }
        });

        //alert(sessionStorage.getItem("user"));    

    </script>
     {% endblock %}
</body>
</html>